extends layout

block content

  h1 #{title}: #{blog.title}
  
  p #[strong Summary:] #{blog.summary}
  p #[strong ISBN:] #{blog.content}

  hr
  
  p Do you really want to delete this Blog?
    
  form(method='POST' action='')
    div.form-group
      input#id.form-control(type='hidden',name='id', required='true', value=blog._id )

    button.btn.btn-primary(type='submit') Delete